#* * * * * echo "Cron job executed at $(date)" >> /tmp/cron_test.log 2>&1
#* * * * * /usr/local/bin/my_script.sh >> /var/log/cron.log 2>&1

# crontab
# * * * * * command(s)
# - - - - -
# | | | | |
# | | | | ----- Day of week (0 - 7) (Sunday=0 or 7)
# | | | ------- Month (1 - 12)
# | | --------- Day of month (1 - 31)
# | ----------- Hour (0 - 23)
# ------------- Minute (0 - 59)

# do daily/weekly/monthly maintenance
# min   hour    day     month   weekday command
#*/15    *       *       *       *       run-parts /etc/periodic/15min
#0       *       *       *       *       run-parts /etc/periodic/hourly
#0       2       *       *       *       run-parts /etc/periodic/daily
#0       3       *       *       6       run-parts /etc/periodic/weekly
#0       5       1       *       *       run-parts /etc/periodic/monthly
